#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#parentDiv{
  width: 50%;
  margin: 0 auto;
  padding: 0px;

}

#gridDiv{
  width: 80%;
  display: flex;
  margin: 0 auto;
}

#gridCanvas {
  flex-grow: 1;
  flex: 1 1 0;
  min-width: 0;
  border:1px solid #000;
  margin-top: 1em;
  background: #ddd;
  padding:10px;
  margin:0 auto;
}

.directionButton {
	background-color: #928f8f;
  border: 2px solid #928f8f;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;

  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0%;
  margin-bottom: 0;
}
.directionButton:hover {
	background-color:#708585;
}
.directionButton:active {
	position:relative;
	top:1px;
}


#buttonsDiv {
  padding: 2px;
  text-align: center;
}

@media only screen and (max-width: 600px)
{
    #parentDiv
    {
      width: 100vw;
      height: 100vh;
    }

    #gridDiv
    {
      width: 80%;
      height: 50%;
    }
}

@media (min-width:200px) and (max-width:450px) {
  #parentDiv
    {
      width: 100vw;
      height: 100vh;
    }

    #gridDiv
    {
      width: 95%;
      height: 50%;
    }

}
